<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/my_test?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">deff</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">50</property>
        <property name="hibernate.c3p0.timeout">600</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <!--<property name="hibernate.connection.autocommit">false</property>-->
        <!--<property name="hibernate.show_sql">true</property>-->
        <!--<property name="hibernate.format_sql">true</property>-->

        <property name="hibernate.cache.provider_class">org.hibernate.cache.ehcache.StrategyRegistrationProviderImpl</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.use_structured_entries">true</property>
        <property name="hibernate.cache.generate_statistics">true</property>

        <!--<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>-->

        <mapping class="XmlWorker.HibernateEntities.TestEntity"/>
        <mapping resource="TestEntity.hbm.xml"/>

    </session-factory>
</hibernate-configuration>